<%- include('includes/head.ejs') %>
 <!-- link css -->
</head>

<body>
    <main>
        <form action="/users" method="POST">
            <label for="user">User: </label>
            <input type="text" id="user" name="user">
            <button type="submit">Add User</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>
